{% extends 'shared/index.html' %}

{% load staticfiles %}

{% block stylesheets %}

  <link rel="stylesheet" href="{% static 'colorful/css/index.css' %}">

{% endblock %}

{% block body %}

  <!-- Ennui! -->
  <div class="ennui">
    <header>

      <h1 class="word" data-rainbow data-speed="3">en·nui</h1>
      <div class="pronunciation">änˈwē</div>
      <div class="part-of-speech">noun</div>

      <p class="definition">
        a feeling of listlessness and dissatisfaction arising from a lack of occupation or excitement.
      <p>

    </header>
  </div>

{% endblock %}

{% block javascripts %}

  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="{% static 'colorful/js/index.js' %}"></script>

{% endblock %}
