{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>ennui</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{% static 'colorful/css/index.css' %}">

</head>
<body>

  <!-- Ennui! -->
  <div class="ennui">
    <header>

      <h1 class="word" data-rainbow data-speed="3">en·nui</h1>
      <div class="pronunciation">änˈwē</div>
      <div class="part-of-speech">noun</div>

      <p class="definition">
        a feeling of listlessness and dissatisfaction arising from a lack of occupation or excitement.
      <p>

    </header>
  </div>

  <!-- Javascripts -->
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="{% static 'colorful/js/index.js' %}"></script>

</body>
</html>
