{% extends 'shared/index.html' %}

{% load staticfiles %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'colorful/css/index.css' %}">
{% endblock %}

{% block body %}
  <!-- Ennui! -->
  <div class="ennui">
      <h1 class="word">en·nui</h1>
      <div class="pronunciation">änˈwē</div>
      <div class="part-of-speech">noun</div>
      <p class="definition">
        a feeling of listlessness and dissatisfaction arising from a lack of occupation or excitement.
      <p>
  </div>
{% endblock %}

{% block javascripts %}
  <script src="{% static 'colorful/js/index.js' %}"></script>
{% endblock %}
